<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>limitTo example 2</title>
    <script src="scripts/angular.js"></script>
    <script>
        var app=angular.module('DemoApp',[]);
        app.controller('HomeController',function ($scope) {
            $scope.products=[
                {Id:1,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:2,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:3,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:4,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:5,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:6,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:7,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:8,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:9,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:10,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:11,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')},
                {Id:12,Name:'Samsung Tv',Price:45589.36,Mfd:new Date('2018-08-06')}
            ];

            $scope.pagePerRows=4;
            $scope.beginWith=0;
            $scope.nextClick=function () {
                $scope.beginWith=$scope.beginWith+$scope.pagePerRows;
            }
            
            $scope.prevClick=function () {
                $scope.beginWith=$scope.beginWith-$scope.pagePerRows;
            }
            
        })
    </script>
</head>
<body ng-app="DemoApp" ng-controller="HomeController">
<table border="1" align="center">
    <th>Product Id</th>
    <th>Name</th>
    <th>Price</th>
    <th>Manufacturer</th>
    <tr ng-repeat="item in products | limitTo:pagePerRows:beginWith">
        <td>{{item.Id}}</td>
        <td>{{item.Name |uppercase}}</td>
        <td>{{item.Price|currency}}</td>
        <td>{{item.Mfd|date}}</td>
    </tr>
</table>
<center>
    <button ng-click="prevClick()"> < </button>
    <button ng-click="nextClick()"> > </button>
</center>
<div ng-repeat="i in products">
    {{i | json}}
</div>
</body>
</html>