.backEffects{
    background-color: #2a6496;
}
.textEffects{
    color: #78FA89;
    text-align: center;
}
.borderEffects{
    border: dashed #2b542c;
}
.odd{
    background-color:darkcyan;
    color: white;
}
.even{
    background-color: darkgreen;
    color: white;
}